* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-size: 14rem;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  color: #7C6A0A;
}

nav {
  width: auto;
  background-color: #ffefe7;
}
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
nav p {
  cursor: pointer;
  font-size: 20rem;
}
nav .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 60rem;
  flex-direction: column;
  background-color: #ffefe7;
  width: 100vw;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}
nav .icons button {
  background: none;
  border-style: none;
  cursor: pointer;
}
nav .hamburger {
  display: block;
  cursor: pointer;
}
nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #7C6A0A;
}

main {
  width: auto;
  background-color: #ffefe7;
}
main .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
}
main .container h2 {
  margin: 40px 0;
  font-size: 25rem;
  font-weight: 500;
}
main .container article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: #7C6A0A;
}
main .container article .img-section img {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  justify-content: center;
}
main .container article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-top: 10px;
}
main .container article .impact-section h1 {
  font-size: 30rem;
}
main .container article .impact-section button {
  background: none;
  border-style: none;
  cursor: pointer;
}
main .container article .impact-section button {
  aspect-ratio: 1/0.25;
  width: 50vw;
  max-width: 210px;
  background-color: #FA9500;
  border-radius: 35px;
  font-size: 16rem;
  font-weight: bold;
  color: #ffffff;
}
main .container .product-section {
  width: auto;
}
main .container .product-section .product-img img {
  aspect-ratio: 1/1.2;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 6px;
}
main .container .product-section h3 {
  font-size: 16rem;
}
main .container .product-section .card-section {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 30px;
}
main .container .product-section .card-section .product-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 70vw;
  aspect-ratio: 1/1.5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 200px;
  max-width: 320px;
  padding: 35px 30px;
  background-color: #FFDAC6;
  border-radius: 8px;
}
main .container .product-section .card-section .product-card .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: 7px;
}
main .container .product-section .furniture .product-card {
  background-color: #BABD8D;
}
main .container .about-us-section .why-us {
  display: flex;
  flex-direction: column;
}
main .container .about-us-section .why-us .sustainability, main .container .about-us-section .why-us .innovation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
main .container .about-us-section .why-us .sustainability img, main .container .about-us-section .why-us .innovation img {
  width: 30vw;
  max-width: 200px;
}
main .container .about-us-section .why-us .sustainability p, main .container .about-us-section .why-us .innovation p {
  width: 180px;
  text-align: center;
  color: #E86424;
  font-weight: 500;
}
main .container .gallery {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}
main .container .gallery img {
  width: 70vw;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 250px;
  padding-left: 30px;
  background-color: #FA9500;
  color: #ffffff;
}
footer .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */