$primary-color: #ffefe7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color:#FA9500;
$primary-text-color: #7C6A0A;
$secondary-text-color: #E86424;
$tertiary-text-color: #ffffff;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 14rem;
$max-width: 1440px;

@mixin flexCenter ($direction, $justify: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin buttonStyle{
    button {
        background: none;
        border-style: none;
        cursor: pointer;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 6.25%;
}
  
body {
    font-size: $paragraph-size;
    font-family: $font-stack;
    line-height: 1.5;
    color: $primary-text-color;
}

nav {
    width: auto;
    background-color: $primary-color;
    .container {
        @include flexCenter(row, space-between);
        max-width: $max-width;
        margin: 0 auto;
        padding: 20px;

        p {
            cursor: pointer;
            font-size: 20rem;
        }
    
        .icons {
           display: none;
           position: absolute;
           left: 0;
           top: 60rem;
           background-color: $primary-color;
           width: 100vw;
           border-radius: 10px;
           @include buttonStyle();
           
           &.responsive {
               @include flexCenter(column);
           }
        }

        .hamburger {
            display: block;
            cursor: pointer;
            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: $primary-text-color;
            }
        }
    }
}

main {
    width: auto;
    background-color: $primary-color;

    .container{
        max-width: $max-width;
        margin: 0 auto;
        padding: 0px 20px;
        
        h1 { font-size: 30rem; }

        h2 {   
            margin: 40px 0;
            font-size: 25rem;
            font-weight: 500;
        }

        h3 { font-size: 16rem; }

        article {
            @include flexCenter(column, space-between, center);
            width: auto;
            color: $primary-text-color;

            .img-section {
                img {
                    width: 80vw;
                    max-width: 600px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 10px;
                    justify-content: center;
                }
            }

            .impact-section {
                @include flexCenter(column, space-between, center);
                max-width: 600px;
                gap: 25px;
                padding-top: 10px;

                @include buttonStyle();
                button{
                    aspect-ratio: 1 / 0.25;
                    width: 50vw;
                    max-width: 210px;
                    background-color: $quaternary-color;
                    border-radius: 35px;
                    font-size: 16rem;
                    font-weight: bold;
                    color: $tertiary-text-color;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .product-section {
            width: auto;
            
            .product-img{
                img {
                    aspect-ratio: 1 / 1.2;
                    object-fit: cover;
                    width: 100%;
                    border-radius: 6px;
                }
            }
            
            .card-section {
                @include flexCenter(row);
                overflow-x: scroll;
                gap:30px;

                .product-card {
                    @include flexCenter(column);
                    flex-shrink: 0;
                    width: 60vw;
                    aspect-ratio: 1 / 1.5;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    position: relative;
                    min-width: 200px;
                    max-width: 325px;
                    padding: 35px 30px;
                    background-color: $secondary-color;
                    border-radius: 8px;

                    .icon {
                        @include flexCenter(row,flex-end, center);
                        justify-content: flex-end;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        margin: 8px;
                    }
                }
            }
            .furniture {
                .product-card {
                    background-color: $tertiary-color;
                }
            }    
        }
        
        .about-us-section {
            .mission {
                @include flexCenter(column);
                
                .sustainability {
                    @include flexCenter(column, center, center);
                    margin-bottom: 40px;

                    img {
                        width: 30vw;
                        max-width: 160px;
                    }

                    p {
                        width: 180px;
                        text-align: center;
                        color: $secondary-text-color;
                        font-weight: 500;
                    }
                }
                .innovation {
                    @extend .sustainability;
                }
            }
        }
        
        .gallery {
            padding: 0 20px;

            .gallery-images {
                @include flexCenter(column, normal, center);
                gap: 40px;
                padding-bottom: 40px;
                
                img {
                    width: 70vw;
                    max-width: 350px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .find-us {
            @include flexCenter(column);

            iframe {
                width: 100%;
                margin-bottom: 30px;
            }
            
            h3 { color: $secondary-text-color; }
            p {
                @extend h3;
                font-size: $paragraph-size;
                padding-bottom: 50px;
            }
        }

    }
}

footer {
    background-color: $quaternary-color;
    
    .container{
        @include flexCenter(column, space-evenly);
        max-width: $max-width;
        margin: 0 auto;
        padding: 0px 20px;
        width: 100vw;
        height: 250px;
        color: $tertiary-text-color;
    
        h3, p {
            padding-left: 20px;
        }
        
        .social-media{
            @include flexCenter(row, center);
            gap: 20px;
            
            img {
                width: 8vw;
                max-width: 40px;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 768px) {
    $paragraph-size: 18rem;

    body {
        font-size: $paragraph-size;
    }

    nav {
        .container {
            padding: 20px 40px;
        
            .icons {
                @include flexCenter(row);
                position: static;
                left: auto;
                top: auto;
                width: auto;
                gap: 20px;
            }

            .hamburger {
                display: none;
            }
        }
    }
    
    main {
        .container {
            h1 { font-size: 35rem; }
            h2 { font-size: 30rem; }
            h3 { font-size: 20rem; }

            .about-us-section {
                .mission {
                    @include flexCenter(row, space-evenly);
                    .sustainability{
                        p {
                            width: 270px;
                        }

                    }
                }
            }
        }
    }

    footer {
        .container {
            .social-media {
                padding-top: 50px;
            }
        }
    }
            
}

@media (min-width: 1024px){
    main {
        padding: 40px;
        .container {
            h1 { font-size: 40rem; }
            h2 { font-size: 35rem;}
            h3 { font-size: 25rem; }

            article {
                @include flexCenter(row-reverse, space-between);
                padding-bottom: 50px;
                
                .img-section{
                    img {
                        width: 45vw;
                    }
                }

                .impact-section{
                    @include flexCenter(column, normal, flex-start);
                    width: 40vw;

                    h1, p {padding-bottom: 20px}
                }
            }

            .product-section {
                padding-bottom: 50px;
                .card-section {
                    @include flexCenter(row, space-between);
                    flex-wrap: wrap;
                    overflow: hidden;
                    gap: 35px;

                    .product-card {width: 27vw}
                }
            }
            
            .about-us-section {

                .mission {
                    @include flexCenter(row, space-around);
                    padding: 80px 0;
                    .sustainability{
                        @include flexCenter(row);
                    }
                    .innovation{
                        p { margin-left: -20px;}
                    }
                }
            }

            .gallery {
                padding: 0;
                .gallery-images {
                    @include flexCenter(row, space-between);
                    
                    img {
                        width: 28vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    $paragraph-size: 20rem;

    body { font-size: $paragraph-size; }

    main {
        .container{
            .product-section{
                .card-section {
                    gap: 50px;
                }
            }
        }
    }
}