$primary-color: #ffefe7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color:#FA9500;
$primary-text-color: #7C6A0A;
$secondary-text-color: #E86424;
$tertiary-text-color: #ffffff;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 14rem !default;
$max-width: 1400px;
$table-size: 768px;


@mixin flexCenter ($direction, $justify: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin buttonStyle{
    button {
        background: none;
        border-style: none;
        cursor: pointer;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 6.25%;
}
  
body {
    font-size: $paragraph-size;
    font-family: $font-stack;
    line-height: 1.5;
    color: $primary-text-color;
}

nav {
    width: auto;
    background-color: $primary-color;
    .container {
        @include flexCenter(row, space-between);
        max-width: $max-width;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        cursor: pointer;
        font-size: 20rem;
    }

    .icons {
        @include flexCenter(column);
        position: absolute;
        left: 0;
        top: 60rem;
        flex-direction: column;
        background-color: $primary-color;
        width: 100vw;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        @include buttonStyle();
    }

    .hamburger {
        display: block;
        cursor: pointer;
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: $primary-text-color;
        }
    }
}

main {
    width: auto;
    background-color: $primary-color;

    .container{
        max-width: $max-width;
        margin: 0 auto;
        padding: 0px 20px;

        h2 {   
            margin: 40px 0;
            font-size: 25rem;
            font-weight: 500;
        }

        h3 {
            font-size: 16rem;
        }

        article {
            @include flexCenter(column, space-between, center);
            width: auto;
            color: $primary-text-color;

            .img-section {
                img {
                    width: 80vw;
                    max-width: 600px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 10px;
                    justify-content: center;
                }
            }

            .impact-section {
                @include flexCenter(column, space-between, center);
                gap: 25px;
                padding-top: 10px;

                h1 { font-size: 30rem; }
                
                @include buttonStyle();
                button{
                    aspect-ratio: 1 / 0.25;
                    width: 50vw;
                    max-width: 210px;
                    background-color: $quaternary-color;
                    border-radius: 35px;
                    font-size: 16rem;
                    font-weight: bold;
                    color: $tertiary-text-color;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            
        }

        .product-section {
            width: auto;
            
            .product-img{
                img {
                    aspect-ratio: 1 / 1.2;
                    object-fit: cover;
                    width: 100%;
                    border-radius: 6px;
                }
            }
            
            .card-section {
                @include flexCenter(row);
                overflow-x: auto;
                gap:30px;

                .product-card {
                    @include flexCenter(column);
                    flex-shrink: 0;
                    width: 70vw;
                    aspect-ratio: 1 / 1.5;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    position: relative;
                    min-width: 200px;
                    max-width: 320px;
                    padding: 35px 30px;
                    background-color: $secondary-color;
                    border-radius: 8px;
                    .icon {
                        @include flexCenter(row,flex-end, center);
                        justify-content: flex-end;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        margin: 7px;
                    }

                }

            }
            .furniture {
                .product-card {
                    background-color: $tertiary-color;
                }
            }    
        }
        
        .about-us-section {
            .why-us {
                @include flexCenter(column);
                
                .sustainability {
                    @include flexCenter(column, space-between, center);
                    margin-bottom: 40px;

                    img {
                        width: 30vw;
                        max-width: 200px;
                    }

                    p {
                        width: 180px;
                        text-align: center;
                        color: $secondary-text-color;
                        font-weight: 500;
                    }
                }
                .innovation {
                    @extend .sustainability;
                }
            }
        }
        
        .gallery {
            padding: 0 20px;

            .gallery-images {
                @include flexCenter(column, normal, center);
                gap: 40px;
                padding-bottom: 40px;

                img {
                    width: 80vw;
                    max-width: 400px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .find-us {
            @include flexCenter(column);

            iframe {
                width: 100%;
                margin-bottom: 30px;
            }
            
            h3 { color: $secondary-text-color; }
            p {
                @extend h3;
                font-size: $paragraph-size;
                padding-bottom: 50px;
            }
        }

    }
}

footer {
    @include flexCenter(column, space-evenly);
    width: 100vw;
    height: 250px;
    background-color: $quaternary-color;
    color: $tertiary-text-color;

    h3, p {
        padding-left: 20px;
    }
    
    .social-media{
        display: flex;
        justify-content: center;
        gap: 20px;
        cursor: pointer;

        img {
            width: 8vw;
            max-width: 45px;
        }
    }
}